input#username {
   background-image: url(../images/user.png);
   background-size: 20px 20px;
   background-repeat: no-repeat;
   text-indent: 20px
}

input#password {
  background-image: url(../images/lock.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  text-indent: 20px
}
form.login{
  padding: 20px 0;
  position: relative;
}
