<footer class="footer wrapper">
        <div class="footer__inner clearfix">
            <hr class="clear">
            <ul class="footer__list list-unstyled zero-bottom">
                <li class="footer__item text-muted small">University College London, Gower Street, London, WC1E 6BT Tel: +44 (0) 20 7679 2000</li>
            </ul>
            <ul class="list-inline footer__list list-unstyled list-inline--divided">
                <li class="text-muted small">Copyright © 2015 UCL</li>
                <li class="text-muted small"><a href="#">Disclaimer</a>
                </li>
                <li class="text-muted small"><a href="#">Freedom of Information</a>
                </li>
                <li class="text-muted small"><a href="#">Accessibility</a>
                </li>
                <li class="text-muted small"><a href="#">Privacy</a>
                </li>
                <li class="text-muted small"><a href="#">Cookies</a>
                </li>
                <li class="text-muted small"><a href="#">Contact Us</a>
                </li>
            </ul>
        </div>
    </footer>
