{% include 'header.html' %}

<div class="site-content wrapper">
  <div class="hero hero__content">

    <nav class="breadcrumb clearfix">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item"><a href="lists.html">Lists</a>
        </li>
        <li class="breadbrumb__item">{{list_name}}
        </li>
      </ul>
      <a href="" style="float: right;">Logout</a>
    </nav>

    <div class="lists">
      <ul>
      {% for item in items %}
        {{ item.name }}
      {% endfor %}
      <li><a href="">Add Item</a></li>
      </ul>
    </div>
  </div>
</div>

{% include 'footer.html' %}
