{% include 'header.html' %}

<div class="site-content wrapper">
  <div class="hero hero__content">

    <nav class="breadcrumb clearfix">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item" style="font-size: 20px;"><a href="/lists">Lists</a>
        </li>
        <li class="breadcrumb__item breadcrumb__item--current" style="font-size: 20px;">{{ list.name }}
        </li>
      </ul>
      <a href="/logout" style="float: right;">Logout</a>
      <a href="/lists/{{ list.id }}/newtask" style="float: right; padding-right: 50px;">Add Item</a>
    </nav>
    <em class="error" style="color: green"> {{ message }}</em>
    <div class="lists">
      <ul>
      {% for item in items %}
        <li class="list">
          <a class="list-name" href>{{ item.name }}</a>
          <a class="list-edit" href="/lists/{{ list.id }}/tasks/{{ item.id }}/edit">Edit</a>
          <a class="list-delete" onclick="$.ajax({ url: '/lists/{{ list.id }}/tasks/{{ item.id }}'
          , method: 'DELETE' })" href="/lists/{{ list.id }}">Done</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% include 'footer.html' %}
