{% include 'header.html' %}

<div class="site-content wrapper">
  <div class="hero hero__content">

    <nav class="breadcrumb clearfix">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item" style="font-size: 20px;">Lists
        </li>
      </ul>
      <a href="/logout" style="float: right;">Logout</a>
      <a href="/newlist" style="float: right; padding-right: 50px;">Add List</a>
    </nav>
    <em class="error" style="color: green"> {{ message }}</em>
    <div class="lists">
      <ul>
      {% for list in lists %}
        <li class="list">
          <a class="list-name" href="/lists/{{ list.id }}">{{ list.name }}</a>
          <a class="list-edit" href="/editlist/{{ list.id }}">Edit</a>
          <a class="list-delete" onclick="$.ajax({ url: '/lists/{{ list.id }}', method: 'DELETE' })" href="">Delete</a>
        </li>
      {% endfor %}
      </ul>
    </div>


  </div>
</div>

{% include 'footer.html' %}
