{% include 'header.html' %}

<div class="site-content wrapper">
  <div class="hero hero__content">

    <nav class="breadcrumb clearfix">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item" style="font-size: 20px;">Lists
        </li>
      </ul>
      <a href="/" style="float: right;">Logout</a>
      <a href="/newlist" style="float: right; padding-right: 50px;">Add List</a>
    </nav>

<!-- Sample list -->
        <li class="list">
          <a class="list-name" href>List Name</a>
          <a class="list-edit" href="Edit">Edit</a>
          <a class="list-delete" href="Delete">Delete</a>
        </li>
<!-- End of sample list -->

    <div class="lists">
      <ul>
      {% for list in lists %}
        <li class="list">
          <a class="list-name" href>{{ list.name }}</a>
          <a class="list-edit" href="">Edit</a>
          <a class="list-delete" href="">Delete</a>
        </li>
      {% endfor %}
      </ul>
    </div>


  </div>
</div>

{% include 'footer.html' %}

<!-- {{ message }} -->