{% include 'header.html' %}

  <div class="site-content wrapper">

    <header class="header header--mobile">

      <a class="header header__open" href="#">
        <img src="../static/images/mob-nav.png" class="lazy" data-src="../static/images/mob-nav.png" alt="Menu">
      </a>

    </header>
    <div class="hero" style="background-image: url('http://lorempixel.com/1400/500')">
      <div class="hero__content">
        <div class="hero__body hero__body--background">
          <h2 class="as-h5 hero__sub"><a href="">Page section</a></h2>
          <h1 class="hero__title">Page title</h1>
          <p class="hero__blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et quasi quos saepe, illum vero cumque. Voluptatem, nihil similique consectetur, ad possimus provident praesentium labore nemo soluta voluptas a.</p>
        </div>
      </div>
    </div>

  </div>
</html>
