{% include 'header.html' %}

  <div class="site-content wrapper">

    <header class="header header--mobile">

      <a class="header header__open" href="#">
        <img src="../static/images/mob-nav.png" class="lazy" data-src="../static/images/mob-nav.png" alt="Menu">
      </a>

    </header>
    <div class="hero hero__content">
          <h2 class="hero__title">Login</h2>
          <form class="login" method="POST">
            <input id="username" class="login" type="text" name="username" placeholder="Username" onfocus=""><br>
            <input id="password" class="login" type="password" name="password" placeholder="Password" onfocus=""><br>
            <button class="login" type="submit" id="login-button">Login</button>
          </form>
          <button class="login">Sign Up</button>
    </div>

  </div>
{% include 'footer.html' %}
