{% include 'header.html' %}

  <div class="site-content wrapper">

    <header class="header header--mobile">

      <a class="header header__open" href="#">
        <img src="../static/images/mob-nav.png" class="lazy" data-src="../static/images/mob-nav.png" alt="Menu">
      </a>

    </header>
    <div class="hero hero__content">
      <div class="login-form">
        <h1>Login</h1>
          <form action='/' method="POST">
              <input type="text" class="text" name="username" placeholder="username">
              <input type="password" name="password" placeholder="••••••••••">
              <em class="error">{{ message }}</em>
              <div class="submit">
                <input type="submit" value="Login" >
            </div>
            <p><a href="/signup">Sign up</a></p>
          </form>
        </div>
    </div>

  </div>
{% include 'footer.html' %}
