{% include 'header.html' %}

  <div class="site-content wrapper">

    <header class="header header--mobile">

      <a class="header header__open" href="#">
        <img src="../static/images/mob-nav.png" class="lazy" data-src="../static/images/mob-nav.png" alt="Menu">
      </a>

    </header>
    <div class="hero hero__content">
      <div class="login-form">
        <h1>Sign Up</h1>
          <form method="POST">
              <input type="text" class="text" name="username" placeholder="username" >
              <input type="password" name="password1" placeholder="password">
              <input type="password" name="password2" placeholder="confirm password">
              <div class="submit">
                <input type="submit" value="Sign Up" >
            </div>
            <p><a href="/">Back to login</a></p>
          </form>
        </div>
    </div>

  </div>
{% include 'footer.html' %}
